@import "../../App.scss";

.about {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__harmonograph-information-title {
    @include description-h1-font;

    margin-top: 1.5em;
  }

  &__instructions-title,
  &__tips-title {
    @include description-h2-font;

    display: flex;
    flex-direction: row;
    margin-top: 1em;
    border-bottom: 1px solid var(--figma-color-border);
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }

  &__tips-description {
    @include body-text-p-font;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4em;
    margin-top: 0.75em;

    & > ul {
      padding-left: 20px;
    }
  }

  &__harmonograph-information-description,
  &__instructions-step {
    @include body-text-p-font;
  }

  &__instructions-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 0.688em;
    padding-left: 0.875em;
  }

  &__content {
    flex-grow: 1;
    padding: 0 1.5em;
    overflow-y: scroll;
  }

  &__content-wrapper {
    padding-bottom: 0;
    height: fit-content;
  }

  &__image {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border: 1px solid;
    border-image: linear-gradient(
      120deg,
      #f8a390 10%,
      #fff380 20%,
      #f49cd4 40%,
      #b6b9f6 58%,
      #8ddfc3 80%,
      #8bcffd 94%
    );
    border-image-slice: 1;
    background-color: $ui-default-white;
    height: 22.5em;
    overflow: hidden;

    &-img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
  }

  &__credits-text {
    @include body-text-p-font;

    margin-top: 6em;
  }

  &__credits-link {
    cursor: pointer;
    color: var(--figma-color-bg-inverse);
    text-decoration: underline;
  }
}
