@import "../../App.scss";

.input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  width: 100%;

  &__label {
    @include text-input-label-font;
    display: inline-block;
    margin-top: 1.125em;
  }

  &__wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  &__field {
    @include text-input-font;
    margin-top: 0.375em;
    outline: 1px solid var(--figma-color-border);
    border: 2px solid var(--figma-color-bg);
    background-color: var(--figma-color-bg);
    padding: 0.75em 1em;
    width: 100%;
    color: var(--figma-color-bg-inverse);
  }

  &__svg-container {
    display: inline-block;
    cursor: pointer;
    margin-top: 0.375em;
    border-radius: 0.25em;
    padding: 0.5em;

    &:hover {
      background-color: var(--figma-color-bg-hover);
    }
  }

  &__randomize {
    vertical-align: middle;
    width: 0.75em;
    height: 0.75em;
    color: var(--figma-color-bg-inverse);
  }

  &__unit {
    @include text-input-font;
    position: absolute;
    top: 40%;
    right: 16%;
    z-index: 10;
    color: var(--figma-color-bg-inverse);

    &--right {
      right: 7%;
    }

    &--hidden {
      display: none;
    }
  }
}
