@import "../../App.scss";

.input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  width: 100%;

  &__label {
    @include text-input-label-font;

    display: inline-block;
    margin-top: 1.125em;
    margin-bottom: 0.375em;
  }

  &__wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0em;
  }

  &__border {
    flex-grow: 1;
    margin-top: 3px;
    background: var(--figma-color-border);
    padding: 1px;
  }

  &__border--highlighted {
    background: radial-gradient(
      111.3% 111.3% at 13.98% -1.52%,
      rgba(242, 72, 34, 0.5) 2.6%,
      rgba(255, 235, 0, 0.5) 20.12%,
      rgba(245, 49, 179, 0.5) 39.58%,
      rgba(123, 97, 255, 0.5) 58.22%,
      rgba(27, 196, 125, 0.5) 79.69%,
      rgba(24, 160, 251, 0.5) 94.27%
    );
  }

  &__field {
    @include text-input-font;

    outline: 1px solid transparent;
    border: 2px solid transparent;
    background-color: var(--figma-color-bg);
    padding: 0.75em 1em;
    width: 100%;
    color: var(--figma-color-bg-inverse);
  }

  &__svg-container {
    display: inline-block;
    cursor: pointer;
    margin-top: 0.375em;
    border-radius: 0.25em;
    padding: 0.5em;

    &:hover {
      background-color: var(--figma-color-bg-hover);
    }
  }

  &__randomize {
    vertical-align: middle;
    width: 0.75em;
    height: 0.75em;
    color: var(--figma-color-bg-inverse);
  }

  &__unit {
    @include text-input-font;

    position: absolute;
    top: 39%;
    right: 3.5rem;
    z-index: 10;
    color: var(--figma-color-bg-inverse);

    &--right {
      right: 7%;
    }

    &--hidden {
      display: none;
    }
  }
}
