@import "../../App.scss";

button {
  outline: none;
  border: none;
}

path {
  z-index: 1;
}

label {
  @include text-input-label-font;
  display: inline-block;
  margin-top: 1.125em;
  color: var(--figma-color-text-secondary);
}

input[type="text"]:focus {
  outline: var(--figma-color-border-selected);
  border: 2px solid var(--figma-color-border-selected);
}

input[type="number"]:focus {
  outline: var(--figma-color-border-selected);
  border: 2px solid var(--figma-color-border-selected);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.two-col-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.preview-settings {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  z-index: 10;
  background-color: $ui-default-white;
  overflow: hidden;
}

#preview {
  position: relative;
  z-index: 10;
  border: 1px solid;
  border-image: linear-gradient(
    120deg,
    #f8a390 10%,
    #fff380 20%,
    #f49cd4 40%,
    #b6b9f6 58%,
    #8ddfc3 80%,
    #8bcffd 94%
  );
  border-image-slice: 1;
  background-color: $ui-default-white;
  width: 100%;
  height: 22.5em;
  color: $--figma-black-no-change;
}

#predraw_path {
  fill: none;
  stroke: transparent;
  stroke-linecap: round;
  stroke-width: var(--stroke_width);
  // transform: scale(0.5, 0.5) translate(var(--diameter), var(--diameter));
}

#preview_path {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  z-index: 1;
  stroke-width: var(--stroke_width);
  // transform: scale(0.5, 0.5) translate(var(--diameter), var(--diameter));
}

.options {
  position: relative;
  flex-grow: 1;
  z-index: 100;
  box-sizing: border-box;
  width: 100%;
  overflow-y: scroll;

  &__wrapper {
    position: relative;
    box-sizing: border-box;
    padding: 0 1.5em 1.5em 1.5em;
    height: fit-content;
  }
}

.advanced-mode {
  z-index: 100;
  padding: 1.5em 1.5em 0 1.5em;
  color: var(--figma-color-bg-inverse);

  &__row-one {
    @include description-h2-font;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625em;
  }

  &__description {
    @include body-text-p-font;
  }

  &__toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__panel-settings {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: left;
    gap: 1em;
    z-index: 1;
    margin-top: 0.5em;
    border-bottom: 1px solid var(--figma-color-border);
    padding-left: 8px;
    width: 100%;
    color: var(--figma-color-bg);
  }

  &__panel-button {
    @include body-text-p-font;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: transparent;
    padding: 1em 0;
    width: 45px;
    color: var(--figma-color-text-disabled);
    font-weight: 500;

    &:nth-child(2) {
      padding-left: 8px;
    }

    &--active {
      color: var(--figma-color-text);
      font-weight: 600;
    }

    &--disabled {
      pointer-events: none;
      color: var(--figma-color-text-disabled);
      font-weight: 500;
    }
  }
}

.switch {
  display: inline-block;
  position: relative;
  margin: 0;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  svg {
    position: relative;
    top: 0;
    left: 0;
    transform: scale(0.5) translateX(50%);
  }

  input:checked + svg > &__background {
    fill: var(--figma-color-bg-inverse);
  }

  input:checked + svg > &__foreground {
    transform: translateX(25px);
    fill: var(--figma-color-bg);
  }

  &:hover {
    cursor: pointer;
  }

  &__background {
    transition: 0.4s;
    stroke-width: 2px;
    stroke: var(--figma-color-bg-inverse);
    fill: var(--figma-color-bg);
  }

  &__foreground {
    transition: 0.4s;
    stroke-width: 2px;
    fill: var(--figma-color-bg);
    stroke: var(--figma-color-bg-inverse);
  }

  &__toggle {
    position: absolute;
    top: 0;
    right: -0.125em;
    bottom: -0.125em;
    left: -0.125em;
    transition: 0.4s;
    cursor: pointer;
    border: 1px solid var(--figma-color-bg-inverse);
    border-radius: 50%;
    background-color: var(--figma-color-bg);

    &:before {
      position: absolute;
      top: -0.0625em;
      bottom: 0.9375em;
      left: -0.1em;
      transition: 0.4s;
      border: 1px solid var(--figma-color-bg-inverse);
      border-radius: 50%;
      background-color: var(--figma-color-bg);
      width: 0.625em;
      height: 0.625em;
      content: "";
    }

    &--round {
      border-radius: 0.4125em;
    }
  }
}

.svg-container {
  display: inline-block;
  cursor: pointer;
  border-radius: 0.25em;
  padding: 0.5em;

  &:hover {
    background-color: var(--figma-color-bg-hover);
  }
}

#reset-svg {
  width: 14px;
  height: 14px;
  color: var(--figma-color-bg-inverse);
}
