@import "../../App.scss";

.spin-me-button {
  display: flex;
  position: absolute;
  top: 15.5em;
  right: 1.5em;
  justify-content: center;
  align-items: center;
  z-index: 10000000;
  cursor: pointer;

  // box-shadow: var(--figma-color-bg) 0px 0px 1.875em;
  border: 1px solid $--figma-black-no-change;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    #f8a390 10%,
    #fff380 20%,
    #f49cd4 40%,
    #b6b9f6 58%,
    #8ddfc3 80%,
    #8bcffd 94%
  );
  background-position: 100% 100%;
  background-size: 200% 200%;
  width: 5.625em;
  height: 5.625em;

  &::before {
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: -1;
    border: 1px solid $--figma-white-no-change;
    border-radius: 50%;
    content: "";
  }

  &__text {
    transform: rotate(18deg);
    color: $--figma-black-no-change;
    font-family: "Roboto Mono";
    text-align: center;
  }

  &--rotate {
    animation: rotate 0.5s linear;
  }
}

@keyframes rotate {
  from {
    transform: rotate(2deg);
  }
  to {
    transform: rotate(362deg);
  }
}
