$--figma-black-no-change: #1e1e1e;
$--figma-white-no-change: #ffffff;

$ui-default-white: #f3f3f3;
$color-accent-middlesage: #8faca9;
$color-accent-brightgreen: #89bc4a;
$color-accent-lightsage: #d2dfde;
