@import "../../App.scss";

.information-header {
  display: flex;
  position: relative;
  align-items: center;
  gap: 0.75em;
  margin-top: 2em;
  width: 100%;

  &__title {
    @include information-header-component-font;

    margin: 0;
    width: fit-content;
    white-space: nowrap;
  }

  &__icon-container {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;

    &:hover {
      .information-header__info-container {
        display: flex;
      }
    }
  }

  &__icon {
    width: 0.75em;
    height: 0.75em;
    color: var(--figma-color-bg-inverse);
  }

  &__info-container {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 90vw;

    &--above {
      bottom: calc(100% + 5px);
    }

    &--below {
      top: calc(100% + 5px);
    }

    &:before {
      position: absolute;
      left: -2px;
      border-right: 0.5em solid transparent;
      border-left: 0.5em solid transparent;
      width: 0;
      height: 0;
      content: "";
    }

    &--above:before {
      top: 0;
      border-top: 0.5em solid $--figma-black-no-change;
    }

    &--below:before {
      bottom: 0;
      border-bottom: 0.5em solid $--figma-black-no-change;
    }
  }

  &__info-panel {
    @include body-text-p-font;

    position: absolute;
    transform: translate(-50%);
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
    border-radius: 0.125em;
    background-color: $--figma-black-no-change;
    padding: 0.3125em 0.625em;
    width: fit-content;
    color: $--figma-white-no-change;
    text-align: left;

    &--above {
      bottom: calc(100%);
    }

    &--below {
      top: calc(100%);
    }
  }
}
