@import "../../App.scss";

.information-header {
  display: flex;
  align-items: center;
  gap: 0.75em;
  margin-top: 1.5em;

  &__title {
    @include information-header-component-font;
    margin: 0;
  }

  &__icon-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 0.75em;
    height: 0.75em;
  }

  &__info-panel {
    @include body-text-p-font;

    position: absolute;
    top: 2.25em;
    left: -0.75em;
    z-index: 20;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
    border-radius: 0.125em;
    background-color: $--figma-black-no-change;
    padding: 0.3125em;
    color: $--figma-white-no-change;
    white-space: nowrap;
  }

  &__info-panel-triangle {
    position: absolute;
    top: -0.5em;
    left: 0.75em;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid var(--figma-color-bg-inverse);
    border-left: 0.5em solid transparent;
    width: 0;
    height: 0;
    content: "";
  }
}
