@import "./styles/variables.scss";
@import "./styles/mixins.scss";

.root {
  height: 100vh;
}

#resize_bottom {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 100000;
  cursor: ns-resize;

  background-color: transparent;
  width: calc(100% - 1em);
  height: 0.1875em;
}

#resize_right {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 100000;
  cursor: ew-resize;

  background-color: transparent;
  width: 0.1875em;
  height: calc(100% - 1em);
}

#resize_corner_bottom {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 100002;
  cursor: nwse-resize;

  background-color: transparent;
  width: 0.5em;
  height: 1em;
}

#resize_corner_right {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 100002;
  cursor: nwse-resize;

  background-color: transparent;
  width: 1em;
  height: 0.5em;
}
